<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <% Category.all.each do |item| %>
        <li role="presentation"
            <% if item.id == params[:category].to_i %> class="active" <% end %>
        ><%= link_to item.title, root_path(:category => item.id) %>
        </li>
          <% if user_signed_in? %>
              <% if current_user.categories.include? item %>
                  <%= link_to 'Отписаться', subscription_category_path(:id => item, :user_id => current_user.id),
                              :remote => true,
                              :class => "subscription subscription_" + item.id.to_s + ((item.id == params[:category].to_i) ? ' active' : '') %>
              <% else %>
                  <%= link_to 'Подписаться', subscription_category_path(:id => item, :user_id => current_user.id),
                              :remote => true,
                              :class => "subscription subscription_" + item.id.to_s + ((item.id == params[:category].to_i) ? ' active' : '') %>
              <% end %>
          <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9">
    <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>

    <% @articles.each do |article| %>
        <%= render article %>
    <% end %>

    <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
  </div>
</div>